html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, #root {
  min-height: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  background: rgb(232,232,232);
  color: rgb(88, 99, 63);
  min-height: 100%;
}

.spinner-border.text-dark {
  width: 5rem;
  height: 5rem;
  display: block;
  margin: 0 auto;
}

.card.card-body {
  border: 2px solid red;
  padding: 10px;
  max-width: 200px;
  color: rgb(88, 99, 63);
  margin: 7.5px 5px;
}

.card-title, .card-subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 900;
}

.card-body .card-subtitle {
  margin-bottom: 10px;
}

.card-details {
  text-transform: uppercase;
}

.btn-wrapper {
  padding: 20px;
}

.sr-only {
  visibility: hidden;
}

@media (min-width: 768px) {
  .card.card-body {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .card.card-body {
    max-width: 350px;
  }
}
